*.o
*.exe
Tutorial Basico/Busca/*
Tutorial Basico/Matrizes/Robô colecionador.py
\[ANS\] *
Tutorial Basico/Ordenação/Balé.py
Tutorial Basico/Matrizes/.Logotipo publicitário na TV da Vovó.py
Tutorial Basico/Matrizes/.Robô colecionador.py
